@import 'bootstrap/scss/bootstrap';

#wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
}

#sidebar-wrapper {
    width: 250px;
    flex-shrink: 0;
    background-color: #f8f9fa;
    border-right: 1px solid #ddd;
    /* Scheidingslijn */
}

#page-content-wrapper {
    flex-grow: 1;
    padding: 20px;
    width: 100%;
}

@media (max-width: 768px) {
    #sidebar-wrapper {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        z-index: 1000;
    }

    #page-content-wrapper {
        margin-left: 250px;
    }
}
